# Globalne pliki tymczasowe i logi
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.yarn-integrity
pnpm-debug.log*
*.tmp
*.temp

# Pliki środowiskowe (hasła, klucze, konfiguracje lokalne)
.env
*.env

# Pliki systemowe
.DS_Store
Thumbs.db

# Build artifacts i foldery tymczasowe
dist/
build/
tmp/
temp/
docker-compose.override.yml
Dockerfile*

# Node.js – ignorowanie folderów node_modules i bower_components w całym repozytorium
**/node_modules/
**/bower_components/

# Frontend – Expo / React Native
.expo/
.expo-shared/
android/app/build/
ios/build/
*.xcworkspace
*.xcuserstate
*.xcodeproj
.DS_Store

# Python – ignorowanie wirtualnych środowisk, cache i plików pyc
venv/
env/
**/__pycache__/
**/*.py[cod]
*.pyo
*.pyd
*$py.class
*.egg-info
.eggs/
*.egg
*.mypy_cache/
*.cache

# Sphinx – budowane pliki dokumentacji
docs/_build/
build/
target/

# Docker – jeśli nie chcesz śledzić plików konfiguracyjnych specyficznych dla lokalnego developmentu
**/Dockerfile*
docker-compose.yml

# Terraform – ignorowanie folderu .terraform oraz plików tfstate
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.backup
infrastructure/terraform/override.tf
infrastructure/terraform/override.tf.json
infrastructure/terraform/.terraform.lock.hcl

# Kubernetes – logi i ewentualne tymczasowe pliki
*.log
logs/
tmp/

# CI/CD – przykładowe foldery z buildami, screenshotami, dokumentacją tymczasową
ci-cd/docs/_build/
ci-cd/selenium/screenshots/

# Edytory i IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
